QFrame {
    background-color: #868686;
    border-right: 1px solid black;  
    border-top: none;              
    border-bottom: none;           
    border-left: none;           
}


QLabel {
    padding: 10px;
    border:none;
}

